<h1>Trips</h1>

<div class="row">
  <div class="col-md-12.col-sm-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Depart city</th>
            <th>Depart time</th>
            <th>Arrival city</th>
            <th>Arrival time</th>
            <th>Free seat</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @trips.each do |trip| %>
            <tr>
              <td><%= trip.depart_city %></td>
              <td><%= trip.depart_time %></td>
              <td><%= trip.arrival_city %></td>
              <td><%= trip.arrival_time %></td>
              <td><%= trip.free_seat %></td>
              <td><%= link_to 'Show', trip %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New Trip', new_trip_path %>
