<h1><%= @trip.depart_city %> -> <%= @trip.arrival_city%></h1>

<div class="row">
  <div class="col-md-4">
   <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Depart city:</strong></td>
            <td> <%= @trip.depart_city %></td>
          </tr>
          <tr>
            <td><strong>Depart time:</strong></td>
            <td><%= @trip.depart_time.strftime("%m/%d/%Y %I:%M") %></td>
          </tr>
          <tr>
            <td><strong>Arrival city:</strong></td>
            <td><%= @trip.arrival_city %></td>
          </tr>
          <tr>
            <td><strong>Arrival time:</strong></td>
            <td> <%= @trip.arrival_time.strftime("%m/%d/%Y %I:%M") %></td>
          </tr>
          <tr>
            <td><strong>Free seats:</strong></td>
            <td> <%= @trip.free_seat %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <% if user_signed_in? %>
      <% (1..@seat_count).each do |s| %>
      <div class="col-lg-1">
        <%= form_for(current_user.tickets.build(trip_id: @trip.id)) do |f| %>
          <div><%= f.hidden_field :trip_id %></div>
          <button class="actions btn btn-primary btnSearch"><%= s %></button>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <h3 id="sign">Please <%= link_to "Sign in", sign_in_path, class: "btn btn-primary btn-lg my-btn" %> to see free seats.</h3>
    <% end %>
  </div>
</div>

<% if user_signed_in?  && current_user.admin? %>
  <%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-warning btn-xs my-btn" %>
<% end %>
<%= link_to 'Back', trips_path, class: "btn btn-warning btn-xs my-btn" %>
