<h1><%= @trip.depart_city %> -> <%= @trip.arrival_city%></h1>

<div class="row">
  <div class="col-md-4">
   <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Depart city:</strong></td>
            <td> <%= @trip.depart_city %></td>
          </tr>
          <tr>
            <td><strong>Depart time:</strong></td>
            <td><%= @trip.depart_time %></td>
          </tr>
          <tr>
            <td><strong>Arrival city:</strong></td>
            <td><%= @trip.arrival_city %></td>
          </tr>
          <tr>
            <td><strong>Arrival time:</strong></td>
            <td> <%= @trip.arrival_time %></td>
          </tr>
          <tr>
            <td><strong>Free seats:</strong></td>
            <td> <%= @trip.free_seat %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <% if user_signed_in? %>
      <% (1..@seat_count).each do |s| %>
      <div class="col-lg-1">
        <%= form_for(current_user.tickets.build(trip_id: @trip.id)) do |f| %>
          <div><%= f.hidden_field :trip_id %></div>
          <button class="actions btn btn-primary" onclick="myFunction()" ><%= s %></button>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
